<h1><%= t("page.index_page") %></h1>

<br>
<%= link_to t("action.new"), new_task_path, class: "btn btn-primary"%>
<% if current_user.admin %>
  <%= link_to t("action.manage_user"), admin_users_path, class: "btn btn-primary"%>
<% end %>

<div class = "navbar-form" style = "margin-top: -13vh; margin-left: 53vw; margin-bottom: 3vh; width: 30vw;">
  <%= search_form_for @q do |f| %>
    <%= f.label :title %>
    <%= f.search_field :title_cont_any %>
    <br>
    <%= f.label :status %>
    <%= f.radio_button :status_eq, '' %>
    <%= f.label t('status.all') %>
    <% t("status").keys[0..-2].each do |tag|%>
        <%= f.radio_button :status_eq, tag %>
        <%= f.label t(tag, scope: :status) %>
    <% end %>
    <br>
    <%= f.label t('choose_tag')%>
    <% Tag.all.each do |s| %>
      <%= f.radio_button :tags_id_eq_any, s.id %>
      <%= s.name %>  
    <% end %>
    <%= f.submit class: 'btn btn-secondary' ,style: 'width: 27vw; margin-top: 1vh;' %>
  <% end %>
</div>

<table class = "table" id = "task_table">
    <tr>
      <th><%= @tasks.human_attribute_name(:title) %></th>
      <th><%= @tasks.human_attribute_name(:content) %></th>
      <th><%= @tasks.human_attribute_name(:start_time) %></th>
      <th><%= sort_link(@q, :end_time) %></th>
      <th><%= @tasks.human_attribute_name(:status) %></th>
      <th><%= sort_link(@q, :priority) %></th>
      <th><%= t("tag") %></th>
      <th><%= sort_link(@q, :created_at) %></th>
      <th><%= t("action.update_status") %></th>
      <th><%= t("action.title") %></th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_time.strftime("%Y/%m/%d at %I:%M%p") %></td>
        <td><%= task.end_time.strftime("%Y/%m/%d at %I:%M%p") %></td>
        <td><%= t(task.status, scope: :status) %></td>
        <td><%= t(task.priority, scope: :priority) %></td>
        <td><%= task.all_tags %></td>
        <td><%= task.created_at.strftime("%Y/%m/%d at %I:%M%p") %></td>
        <td>
          <% if task.status == 'pending' %>
            <%= button_to t("status_action.do_it"), do_it_task_path(task), method: :put %>
          <% elsif task.status == 'ongoing' %>
            <%= button_to t("status_action.finish_it"), finish_it_task_path(task), method: :put %>
          <% else %>
            <%= button_to t("status_action.unfinish_it"), unfinish_it_task_path(task), method: :put %>
          <% end %>
        </td>
        <td>
          <%= link_to t("action.edit"), edit_task_path(task) %>
          <%= link_to t("action.delete"), task_path(task), method: "delete", data: { turbo_confirm: t("notice.confirm"), turbo_method: "delete" } %>
        </td>
    </tr>
    <% end %>
</table>

<%= paginate @tasks %>
<br><br>
<%= link_to t('action.logout'), sessions_destroy_path, class: "btn btn-info" %>